.git
/.idea/
*.settings
*.classpath
*.project
gradle.properties
gradle-app.setting
*.war
*.jar
*/bin/*
*/build/
*/target/*
*/.classpath
*/.project
/.gradle/
/bin/
/build/
/.settings/
/out/
/inventory.iml
/inventory.xml
/inventory-management.iml
/inventory.properties
/spring-skeleton.iml