# Created by .ignore support plugin (hsz.mobi)
### Gradle template
.git
/.idea/
*.settings
*.classpath
*.project
gradle.properties
gradle-app.setting
*.war
*.jar
*/bin/*
*/build/
*/target/*
*/.classpath
*/.project
/.gradle/
/bin/
/build/
/.settings/
/out/

# Ignore Gradle GUI config

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

